# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>
[Desktop Entry]
Name=Windows App Support
Comment=Provides support for running or finding alternatives to Windows applications on Linux.
Version=1.0
Exec=windowsapphelper
Icon=application-x-ms-dos-executable
Type=Application
Terminal=false
NoDisplay=true
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut
